/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema base (dark) */
:root { color-scheme: dark; }
html, body { height: 100%; }
body { @apply bg-zinc-950 text-zinc-100 antialiased; }

/* Links */
a { @apply text-emerald-400 hover:text-emerald-300; }